body {
    margin: 0;
    background: #383838;
    font-family: Google Sans;
    font-weight: 300;
    color: white;
}
.pt1 {
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

.pt1 a {
    text-decoration-color: white;
    color: white;
}

.container {
    width: 97%;
    margin: auto;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.container p {
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
}

header {
    background: #2E2E2E;
    position: fixed;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
}

nav a {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #999999;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
}

.ab1 {
    /* text-align: center; */
    margin-left: 2%;
}