body {
    margin: 0;
    background: #383838;
    font-family: Google Sans;
    font-weight: 300;
    color: white;
}

.pt1 {
    text-align: center;
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

.pt1 a {
    text-decoration-color: white;
    color: white;
}

.container {
    width: auto;
    margin-left: 8px;
}

.container p {
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 18;
    font-weight: bold;
}

header {
    background: #2E2E2E;
    position: fixed;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 30px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 25px;
}

nav a {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #999999;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
}

.ab1 {
    /* text-align: center; */
    margin-left: 2%;
}

.footer {
    text-align: left;
    padding-left: 20px;
    opacity: 0.35;
}

@media only screen and (max-width: 620px) {
    nav li {
        padding-top: 20px;
    }

    .logo {
        width: 40px;
    }

    .container {
        width: 100%;
    }

    .container p {
        font-size: 14;
        padding-top: 6px;
    }

    .pixart, .dc {
        width: 100%;
    }
}