@font-face {
    font-family: 'Google Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Google Sans Regular'), url('fonts/Google-sans.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat'), url('fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Space Mono'), url('fonts/SpaceMono-Regular.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #383838;
    font-family: 'Google Sans Regular';
    color: white;
    height: 100%;
}

/* time and date */
#time {
    text-align: center;
    width: 275px;
    font-weight: bold;
    font-size: 14px;
    background-color: #383838;
    z-index: 10;

    position: fixed;
    top: 97%;
    left: 1%;
}

#timepc {
    text-align: center;
    width: 275px;
    font-weight: bold;
    font-size: 14px;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;

    background: #2E2E2E;
}

.logo {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 20px;
    padding-left: 12px;
    width: 52px;
}

.navbar p {
    margin: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 174px;
    height: 36px;
    display: inline-block;
    vertical-align: top;

    font-weight: 700;
    font-size: 26px;
    line-height: 33px;

    color: #FFFFFF;
}

.list_navbar {
    float: right;
    list-style-type: none;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 27px;
    padding-right: 40px;
}

.list_navbar li {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    color: rgba(102, 102, 102, 1);
    padding-left: 44px;
}

.list_navbar a {
    color: #666666;
    text-decoration: none;
}

.list_navbar a:hover {
    color: #999999;
    text-decoration: underline;
}


/* -= Home =- */

/* Hero 1 */
.bg {
    z-index: 0;
    width: 100%;
    height: 100%;

    background-image: url("pictures/bg.png");
}

.bg-fade {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.48%, #000000 100%);
}

.bgatas {
    /* padding-top: 8%; */
    /* margin-bottom: 26%; */
    padding-top: 140px;
    margin-bottom: 500px;
    width: 820px;

    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    /* text-align: center; */
}

.bgscrol {
    text-decoration: none;
    /* position: absolute; */
    /* width: 104px; */
    bottom: 8%;
    margin-bottom: 10%;

    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}

.bgarrow {
    /* position: absolute; */
    /* bottom: 3%; */
    width: 12px;
    text-decoration: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}

/* Text */
.pttxt {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    font-weight: 400;
    font-size: 64px;
    line-height: 81.41px;

    color: #000000;
    background-color: #FFFFFF;
}

.overlaypttxt {
    display: inline;
    width: 100px;
    height: 100px;
}

.pttxt p {
    margin: 0px;
}

/* My Project */
.proj {
    width: 100%;
    height: fit-content;
    padding-bottom: 6%;

    background: #E6E6E6;
}

.projtxt {
    margin: 0px;
    padding-top: 140px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;
}

.projbar {
    padding-top: 44px;
}

.proj1 {
    margin-left: -4;
    height: 600px;
    width: 600px;
    display: inline-block;
}

.dc {
    width: 600px;
    height: 600px;
    z-index: 1;
}

.fade {
    width: 600px;
    height: 600px;
    background: #000;
    position: absolute;
    z-index: 2;

    transition: 0.2s all ease-out;

    opacity: 0;
}

.fade:hover {
    opacity: 70%;
}

/* 
.fade1 {
    float: left;
}

.fade2 {
    float: left;
    
} */

.web {
    margin-left: -4;
    height: 600px;
    width: 600px;
}

.proj3 {
    margin-top: -5;
    margin-left: -4;
    display: inline-block;
    height: 600px;
    width: 600px;

    background-color: #000;
}

.se {
    padding-top: 22px;
}

.see {
    text-decoration: none;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #000000;
}

.se :hover {
    text-decoration: underline;
}

/* footer */

.dclg {
    padding-left: 24px;
    padding-top: 42px;
    float: left;
}

.ytlg {
    padding-left: 24px;
    padding-top: 43px;
    float: left;
}

.gtlg {
    padding-left: 24px;
    padding-top: 36px;
    float: left;
}

.footin, .footab {
    width: 100%;
    height: 110px;
    text-align: center;

    background-color: black;
}

.fottek {
    margin: 0;
    padding-top: 44px;
    display: inline-table;
    width: 444px;
    height: 32px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30.53px;
}

.logofot {
    float: right;
    padding: 22px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
}

/* back to old ver */
.old_ver {
    display: inline-block;
    position: fixed;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 28%;
    /* margin-right: 25%; */
    
    z-index: 3;

    background: rgb(0, 195, 255);
}

.ol1 {
    margin: 0;
    padding-top: 14;
}

.ol2 {
    margin: 0;
    padding-top: 12;
    padding-bottom: 14;
}

.ol2 a {
    color: rgb(250, 235, 215);
    text-decoration: none;
}

.cs {
    padding-top: 21%;
    text-align: center;
    font-weight: bold;
    font-size: 24;
    opacity: 0.5;
}


/* Other Device */
.pc, #timepc, #datepc, .pcud {
    display: none;
}

@media only screen and (max-width: 950px) {
    .pc {
        display: block;
        padding-top: 50%;
        padding-bottom: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 24;
        opacity: 0.5;
    }

    #datepc {
        font-family: "Montserrat";
        display: block;
        font-size: 22;
    }

    #timepc {
        display: block;
        font-size: 24;
    }

    .pc3 a {
        text-decoration: none;
        color: rgb(0, 195, 255);
    }

    .cspc {
        font-size: 24;
    }

    .clock, .cs, #time, .bgcrol, .bgarrow, .old_ver, .navbar, .bg, .pttxt, .proj, .footin, .hello, .poto, .textab, .heroab {
        display: none;
    }
}

/* @media only screen and (max-width: 320px) and (max-height: 630px) {} */

/* -= About =- */

.about {
    background: #000;
}

.heroab {
    width: 100%;
    height: 100%;
}

.poto {
    position: relative;
    width: 744px;
    height: 744px;
    top: 138px;
    left: 84;
    background-repeat: no-repeat;
    z-index: -2;

    padding-right: 297px;

    background-image: url("pictures/photoab.png");
}

.potofade p {
    float: right;
}

.potofade {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/* Hello there! + Arrow */
.hello {
    position: absolute;
    left: 60%;
    top: 38%;
    /* top: 311px;
    left: 1041px; */

    font-family: 'Google Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 122px;
}

.bgarrowab {
    position: absolute;
    text-decoration: none;
    top: 92%;

    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}

/* Details Text */
.textab {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 9%;

    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
}

@media screen and (max-width: 1400px) {
    .pcud {
        display: block;
        padding-top: 25%;
        padding-bottom: 10%;
        text-align: center;
        font-weight: bold;
        font-size: 24;
        opacity: 0.5;
    }

    #datepc {
        font-family: "Montserrat";
        display: block;
        font-size: 22;
    }

    #timepc {
        display: block;
        font-size: 24;
    }

    .pc3 a {
        text-decoration: none;
        color: rgb(0, 195, 255);
    }

    .cspc {
        font-size: 24;
    }

    .poto, .textab, .footab, .bgarrowab, .hello, .heroab, .potofade {
        display: none;
    }
}

/* -= Social Page =- */